* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather-app {
  background-color: rgb(154, 208, 218);
  background-size: contain;
  background-position: center;
  margin: auto;
}

.search-box {
  width: 100%;
  margin: 0 0 15px;
}

.search-box .search-field {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10px; */
  width: 75%;
  padding: 20px;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgb(211, 184, 230);
  border-radius: 20px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.1);

  color:rgb(0, 0, 0);
  font-size: 20px;
  text-align: left;

}

button {
  cursor: pointer;
  display: block;
  margin: 0 0 15px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: auto;
  background-color: rgb(211, 184, 230);
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}

::placeholder {
  color: aliceblue;
  font-size: large;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.location {
  background-color: rgb(206, 174, 127, 0.2);
  border-radius: 30px;
  width: 80%;
  height: 18vh;
  margin: auto;
  color:aliceblue;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

#current-weather {
  position: relative;
  display: block;
  width: 80%;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  margin: 30px auto; 

  background-color: rgb(206, 174, 127, 0.2);
  border-radius: 30px;

  color:aliceblue;
  font-size: 30px;
  font-weight: 400;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
}

#forecast {
  position: relative;
  display: block;
  width: 80%;
  height: 170vh;
  margin-left: auto;
  margin-right: auto;
  margin: 30px auto; 

  background-color: rgb(206, 174, 127, 0.2);
  border-radius: 30px;

  color:aliceblue;
  font-size: 30px;
  font-weight: 400;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
}

a {
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  color: chocolate;
}

img {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#headlines {
  background-color: rgb(206, 174, 127, 0.2);
  border-radius: 30px;
  width: 80%;
  height: 90%;
  padding: 20px;
  margin: auto;
}

p {
  font-weight: bold;
}